@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: oklch(59.49% 0.1035 133.69);
  --color-secondary: oklch(86.84% 0.034 51.2);

  /* --color-info: ;
  --color-success: ;
  --color-warning: ;
  --color-error: ; */

  --color-background: var(--color-slate-50);
  --color-foreground: var(--color-slate-200);
  --color-primary-foreground: var(--color-slate-200);
  --color-card: ;
  --color-card-foreground: ;
  --color-muted: ;
  --color-muted-foreground: ;
  --color-border: var(--color-gray-200);

  /* font-family */
  --font-libre-baskerville: "Libre Baskerville", serif; /* headings */
  --font-inter: "Inter", serif; /* body */

  /* font-sizes-body */
  --text-lg: 20px;
  --text-lg--line-height: 28px;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-2xs: 10px;
  --text-2xs--line-height: 14px;

  /* font-sizes-headings */
  --text-heading-1: 56px;
  --text-heading-1--font-weight: bold;

  --text-heading-2: 48px;
  --text-heading-2--font-weight: bold;

  --text-heading-3: 40px;
  --text-heading-3--font-weight: bold;

  --text-heading-4: 32px;
  --text-heading-4--font-weight: bold;

  --text-heading-5: 24px;
  --text-heading-5--font-weight: bold;

  --text-heading-6: 20px;
  --text-heading-6--font-weight: bold;

  /* breakpoints */
  /* --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px; */

  /* border-radius */
  --radius-5xl: 40px;
}

@utility container {
  @apply p-4 lg:p-8 mx-auto;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html {
  @apply overflow-x-hidden scroll-smooth;
}

body {
  @apply bg-background;
}
.section {
  @apply mt-20 lg:mt-28;
}

h1 {
  @apply font-libre-baskerville;
}
h2 {
  @apply font-libre-baskerville;
}
h3 {
  @apply font-libre-baskerville;
}
h4 {
  @apply font-libre-baskerville;
}
h5 {
  @apply font-libre-baskerville;
}
h6 {
  @apply font-libre-baskerville;
}

/* Utility classes */

html {
  @apply overflow-x-hidden scroll-smooth;
}
.section {
  @apply mt-20 lg:mt-28;
}

i {
  @apply text-2xl;
}
/* 
h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}

h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
} */

a {
  @apply text-card-foreground;
}

strong {
  @apply text-primary;
}

.btn {
  @apply text-primary-foreground font-bold border border-primary bg-primary rounded-5xl px-6 py-3 transition-all duration-300;
}

.btn span {
  @apply font-bold;
}

.btn:hover {
  @apply opacity-90 -translate-y-1;
}

.btn_outline {
  @apply bg-transparent text-foreground;
}

.btn_outline:hover {
  @apply bg-primary text-primary-foreground;
}

.title {
  @apply font-inter text-primary;
}

/* scroll bar */
/* body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid var(--color-primary);
} */
