<div
  class="commitment relative bg-[url('/img/commitment_bg.jpg')] bg-center bg-cover bg-no-repeat z-0 py-20 max-w-[1536px] mx-auto"
>
  <div class="commitment__overlay absolute inset-0 bg-primary/90 z-10"></div>
  <div
    class="commitment__content container relative z-20 flex flex-col gap-10 items-center justify-center text-center"
  >
    <h3 class="text-heading-6 text-slate-200 lg:text-heading-3">
      Shop guilt-free knowing that our eco-friendly e-commerce platform is
      committed to reducing environmental impact and promoting sustainable
      practices in every step of the shopping process
    </h3>
    <img
      src="/img/commitment_vector.svg"
      alt="illustration for decoration"
      class="px-10"
    />
  </div>
</div>

<div class="why-us container py-20 flex items-center flex-col gap-6">
  <div class="why-us__header relative flex items-center w-fit">
    <img
      src="/img/Rectangle.svg"
      alt="illustration for decoration"
      class="w-17 h-6.6 absolute left-0 -translate-x-7 -translate-y-2.5 z-0 lg:w-40 lg:h-14 lg:-translate-x-16"
    />
    <h3 class="text-heading-5 text-center text-gray-600 z-10 lg:text-heading-2">
      Why Buy From Us?
    </h3>
  </div>
  <div
    class="why-us__content grid grid-cols-2 gap-x-4 gap-y-6 md:grid-cols-4 lg:gap-6 lg:px-16"
  >
    <div class="why-us__card flex flex-col gap-1 pr-4 lg:gap-2 lg:pr-8">
      <i class="ri-truck-fill text-primary !text-3xl !lg:text-15"></i>
      <p class="body-sm font-semibold text-gray-600 mt-1 lg:mt-2 lg:text-lg">
        Free Shipping
      </p>
      <p class="body-sm text-gray-500 lg:text-lg">
        Shop now and enjoy free shipoing on all orders.
      </p>
    </div>
    <div class="why-us__card flex flex-col gap-1 pr-4 lg:gap-2 lg:pr-8">
      <i class="ri-user-smile-fill text-primary !text-3xl !lg:text-15"></i>
      <p class="body-sm font-semibold text-gray-600 mt-1 lg:mt-2 lg:text-lg">
        Satisfaction Granteed
      </p>
      <p class="body-sm text-gray-500 lg:text-lg">
        Our Satisfaction guarantee ensures quality products.
      </p>
    </div>
    <div class="why-us__card flex flex-col gap-1 pr-4 lg:gap-2 lg:pr-8">
      <i class="ri-leaf-fill text-primary !text-3xl !lg:text-15"></i>
      <p class="body-sm font-semibold text-gray-600 mt-1 lg:mt-2 lg:text-lg">
        Eco Friendly Packaging
      </p>
      <p class="body-sm text-gray-500 lg:text-lg">
        Using eco-friendly material, sustainable and biodegrable.
      </p>
    </div>
    <div class="why-us__card flex flex-col gap-1 pr-4 lg:gap-2 lg:pr-8">
      <i
        class="ri-customer-service-2-fill text-primary !text-3xl !lg:text-15"
      ></i>
      <p class="body-sm font-semibold text-gray-600 mt-1 lg:mt-2 lg:text-lg">
        Fast Response
      </p>
      <p class="body-sm text-gray-500 lg:text-lg">
        24/7 fast and reliable assitance whenever you need it.
      </p>
    </div>
  </div>
</div>

<div
  class="we-exist bg-primary flex flex-col items-center justify-center py-4 relative overflow-hidden max-w-[1536px] mx-auto"
>
  <img
    src="/img/Rectangle.svg"
    alt="illustration for decoration"
    class="absolute left-full top-0 -translate-x-20 -translate-y-2 -rotate-10 w-40 h-14 lg:w-80 lg:h-28 lg:-translate-x-40 lg:-translate-y-5"
  />
  <img
    src="/img/Dots.svg"
    alt="illustration for decoration"
    class="absolute right-full translate-x-3/4 top-0 rotate-180 w-40 h-14 lg:w-60 lg:h-24"
  />
  <div class="we-exist__header container flex items-center lg:py-2">
    <h1
      class="text-heading-5 text-center text-slate-200 md:text-heading-4 lg:text-heading-2 w-full"
    >
      We Exist
    </h1>
  </div>
  <div class="we-exist__content container overflow-x-hidden h-20 relative">
    <!-- value of left is max(width of each item * number of items, 100%) -->
    <img
      src="/img/news-1.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-1 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-2.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-2 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-3.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-3 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-4.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-4 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-5.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-5 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-6.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-6 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-7.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-7 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
    <img
      src="/img/news-8.jpg"
      alt="news-image"
      class="we-exist__item we-exist__item-8 rounded-lg w-35 absolute animate-marquee-scroll-left"
      style="left: max(calc(35 * 4 * 8px), 100%)"
    />
  </div>
</div>
