<div
  class="hero container z-0 py-20 px-10 text-center bg-[url('/img/home_background.png')] bg-cover bg-no-repeat bg-center relative"
>
  <div class="hero__overlay absolute inset-0 bg-white/70 z-10"></div>
  <div
    class="hero__content flex flex-col items-center justify-center gap-6 z-20 relative"
  >
    <h3 class="text-gray-600 text-heading-3">
      Healthy <br />
      cutlery, <br />
      healthy body
    </h3>
    <p class="text-small text-gray-500">
      Upgrade your dining experience and <br />
      begin your path to a healthy you right now.
    </p>
    <button class="btn text-small">Learn More</button>
  </div>
</div>
