<div
  class="card__container container grid grid-cols-1 gap-4 items-center py-6 md:grid-cols-2 lg:grid-cols-3 md:py-10 lg:py-20"
>
  <div>
    <h3 class="text-primary text-heading-3 text-center hidden md:block">
      Categories <br />
      for <br />
      you
    </h3>
  </div>
  <div
    class="card relative rounded-lg bg-[url('/img/CH_image_1.png')] bg-center bg-cover bg-no-repeat aspect-video"
  >
    <button class="card__btn absolute left-4 bottom-4 bg-gray-600">
      Clothing
    </button>
  </div>
  <div
    class="card relative rounded-lg bg-[url('/img/CH_image_2.png')] bg-center bg-cover bg-no-repeat aspect-video"
  >
    <button class="card__btn absolute left-4 bottom-4 bg-gray-600">
      Bedding
    </button>
  </div>
  <div
    class="card relative rounded-lg bg-[url('/img/CH_image_3.png')] bg-center bg-cover bg-no-repeat aspect-video"
  >
    <button class="card__btn absolute left-4 bottom-4 bg-gray-600">
      Accessories
    </button>
  </div>
  <div
    class="card relative rounded-lg bg-[url('/img/CH_image_4.png')] bg-center bg-cover bg-no-repeat aspect-video"
  >
    <button class="card__btn absolute left-4 bottom-4 bg-gray-600">
      Furniture
    </button>
  </div>
  <div
    class="card relative rounded-lg bg-[url('/img/CH_image_5.png')] bg-center bg-cover bg-no-repeat aspect-video"
  >
    <button class="card__btn absolute left-4 bottom-4 bg-gray-600">
      Home Goods
    </button>
  </div>
</div>
